@import '../../styles//main.scss';
.right-sider {
  border-left: 1px solid var(--border-color);
  background: var(--color-bg-primary);
  height: 100vh;
  overflow: auto;
  @include custom-scrollbar;

  &__content {
    padding: 24px 16px;
  }

  &__section {
    margin-bottom: 24px;
    &_heading {
      @include text-style-medium-bold;
    }

  }

  .item-title {
    font-size: 12px;
    @include text-style-medium;
  }

  .item-time {
    @include text-style-small;
  }
}
