:root {
  --font-size-xs: 0.75rem;     // 12px
  --font-size-sm: 0.875rem;    // 14px
  --font-size-base: 1rem;      // 16px
  --font-size-lg: 1.125rem;    // 18px
  --font-size-xl: 1.25rem;     // 20px
  
  
  // Line heights
  --line-height-tight: 1.2;
  --line-height-normal: 1.4;
  --line-height-relaxed: 1.6;
  --line-height-loose: 1.8;

  --font-weight-bold: 400
  
}

@mixin text-style-medium(
  $size: var(--font-size-sm),
  $weight: 400,
  $line-height: 20px,
  $letter-spacing: 0%,
  $text-color: var(--text-primary-color)
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $text-color
  // font-family: var(--font-family-primary);
}
@mixin text-style-medium-bold(
  $size: var(--font-size-sm),
  $weight: 600,
  $line-height: 20px,
  $letter-spacing: 0%,
  $text-color: var(--text-primary-color)
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $text-color
  // font-family: var(--font-family-primary);
}
@mixin text-style-small (
  $size: var(--font-size-xs),
  $weight: 400,
  $line-height: 18px,
  $letter-spacing: 0%,
  $text-color: var(--text-secondary-color)
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $text-color
}

