@import '../../styles/main.scss'

.dashboard {
  padding: 24px;
  background: var(--color-bg-primary);
  overflow: auto;
  height: calc(100vh - 64px);
  @include custom-scrollbar;

  .ant-card {
    background: var(--color-bg-secondary);
    border: none;
    padding: 24px;
    border-radius: 16px;
    .ant-card-head-title {
      @include text-style-medium-bold;
    }

    .ant-card-head {
      border: none;
      padding: 0px;
      min-height: 20px !important;
    }
    .ant-card-body {
      padding: 0px;
    }
  }

  &__stats-row {
    margin-bottom: 24px;
    .ant-statistic {
      .ant-statistic-title {
        @include text-style-medium-bold;
      }
      .ant-statistic-content {
        display: flex;
        justify-content: space-between;
        .ant-statistic-content-value {
          color: var(--text-primary-color);
        }
        //   .ant-statistic-content-suffix{
        //     .ant-typography{

        //         display: flex;
        //     }
        //   }
      }
    }
  }

  &__charts-row {
    margin-bottom: 24px;
  }

  .top-sell-table {
    .ant-table {
      border-radius: 0px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      .ant-table-thead {
        > tr {
          > th {
            background: var(--color-bg-secondary);
            border-bottom: 1px solid #ffffff33;
            min-width: 80px;
            max-width: 400px;
            padding: 8px 12px 8px 12px;
            height: 40px;

            @include text-style-small;

            // width: 224;
            // height: 40;
            // min-height: 40px;
            // opacity: 1;
            // border-bottom-width: 1px;
            // padding-top: 8;
            // padding-right: 12;
            // padding-bottom: 8;
            // gap: 4;

            &:first-child {
              padding-left: 24px;
            }

            &:last-child {
              padding-right: 24px;
            }

            .ant-table-column-sorter {
              display: none;
            }
          }
        }
      }

      .ant-table-tbody {
        > tr {
          transition: all 0.2s ease;
          background: var(--bg-primary-color);

          &:hover {
            background: #f8fafc;
          }

          > td {
            border-bottom: 1px solid var(--border-color);
            @include text-style-small($text-color: var(--text-primary-color));
            background: var(--color-bg-secondary);

            &:first-child {
              padding-left: 24px;
            }

            &:last-child {
              padding-right: 24px;
            }

            .ant-checkbox-wrapper {
              .ant-checkbox {
                border-radius: 4px;

                &.ant-checkbox-checked .ant-checkbox-inner {
                  background-color: #6366f1;
                  border-color: #6366f1;
                }
              }
            }

            .user-name {
              font-weight: 500;
              color: #1f2937;
            }

            .date-icon {
              color: #9ca3af;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}

// Revenue Chart Styles
.revenue-chart {
  position: relative;
  height: 318px;

  &__header {
    position: absolute;
    // top: 10px;
    left: 15px;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  &__title {
    @include text-style-medium-bold;
  }

  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    &--current {
      background-color: #000000;
    }

    &--previous {
      background-color: #87ceeb;
    }
  }

  &__text {
    font-size: 14px;
    color: #666;
  }
}

// Location Revenue Styles
.location-revenue {
  &__item {
    img {
      width: 100%;
    }
  }
  .ant-progress .ant-progress-inner {
    height: 2px;
    .ant-progress-bg {
      background: #a8c5da;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    .ant-typography {
      @include text-style-small($text-color: var(--text-primary-color));
    }
  }
}

.top-product {
  height: 344px;
}

// Sales Chart Styles
.total-sale {
  max-width: 202px;
  max-height: 344px;
  &_chart {
    position: relative;

    &_container {
      height: 120px;
      //   width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.sales-legend {
  margin-top: 20px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  &__text {
    @include text-style-small($text-color: var(--text-primary-color));
  }

  &__value {
    @include text-style-small($text-color: var(--text-primary-color));
  }
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0px;
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0px;
}
